@import "compass";


@import "variables";
@import "mixins";
@import "functions";
@import "bootstrap/bootstrap";

.navbar .active {
  color: #fff !important;
}

img {
  max-width: 100%;
}

.dropdown:hover {
  .dropdown-menu {
    display: block;
  }
}